<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Add Offers</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card m-b-30">
            <div class="card-body">
                <form action="/admin/add_offer" method="post">
                    {{#if category}}
                    <p class="text-success">Category Added</p>
                    {{/if}}
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="example-text-input" class="col-sm-12 col-form-label">Offer Name</label>
                            <div class="col-sm-12">
                                <input class="form-control" placeholder="Enter Offer name" type="text" name="Offername">
                                {{!-- <span id="username-err" class=" text-danger"></span> --}}
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="example-text-input" class="col-sm-12 col-form-label">Discount</label>
                            <div class="col-sm-12">
                                <input class="form-control" placeholder="Enter discount rate" type="number"
                                    name="discountRate">
                                {{!-- <span id="username-err" class=" text-danger"></span> --}}
                            </div>
                        </div>
                        <div class="text-right mt-3 col-md-12">
                            <button type="submit" class="btn btn-light waves-effect mr-4">Cancel</button>
                            <button type="submit" class="btn btn-success waves-effect waves-light">Save</button>

                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div> <!-- end col -->
<div class="row ">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Offers</h4>
        </div>
    </div>
    <div class="col-12 ">
        <div class=" card">
        <div class=" card-body">
        <table class="table mb-0">
            <thead>
                <tr>

                    <th>Name</th>
                    <th>Offer</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each offer}}
                <tr>
                    <td>{{this.Offername}}</td>
                    <td>{{this.discountRate}} <span>%</span> </td>
                    <td>
                        <button class="btn btn-danger" onclick="deleteCatOffer('{{this._id}}')">Remove</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    </div>
    </div>
</div>


</div>

<script>
     function deleteCatOffer(id){
        console.log(id)
        console.log("test id")
        $.ajax({
        url: '/admin/deleteCatOffer',
        data: {
        proId:id,
        },
        method: 'post',
       success: (response)=>{
        alert("Updated Succesfully")
        location.reload()
       }
    }) 
     }
</script>