<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Crate Coupon</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card m-b-30">
            <div class="card-body">
                <form action="/admin/createCoupon" method="post">
                    {{#if added}}
                    <p class="text-danger">{{added}}</p>
                    {{/if}}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="example-text-input" class="col-sm-12 col-form-label">Coupon Name</label>
                                <div class="col-sm-12">
                                    <input class="form-control" placeholder="Enter coupon Name" type="text"
                                        name="coupon_name" id="">
                                    <span id="username-err" class=" text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-tel-input" onkeyup="validatemobile()"
                                    class="col-sm-12 col-form-label">Count</label>
                                <div class="col-sm-12">
                                    <input class="form-control" placeholder="Enter Quantity" type="number"
                                        name="quantity" id="mobilenumber">
                                    <span id="mobilenumber-err" class=" text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="example-email-input" class="col-sm-12 col-form-label">ExpDate</label>
                                <div class="col-sm-12">
                                    <input class="form-control" type="date" placeholder="" name="Date" id="">
                                    <span id="emailid-err" class=" text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-email-input" class="col-sm-12 col-form-label">Discount</label>
                                <div class="col-sm-12">
                                    <input class="form-control" type="number" placeholder="" name="rate" id="">
                                    <span id="emailid-err" class=" text-danger"></span>
                                </div>
                            </div>

                        </div>
                        <div class="text-right col-md-12">
                            <button type="submit" class="btn btn-light waves-effect mr-4">Cancel</button>
                            <button type="submit" onclick="return validateForm()"
                                class="btn btn-success waves-effect waves-light">Save</button>

                        </div>
                </form>
            </div>

        </div>
    </div>
</div> <!-- end col -->
</div>