<footer class="footer-area footer-1  gray-bg-2 pt-5" id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="widget f-widget pb-30 wow fadeInUp" data-wow-delay=".4s">
                            <h5 class="f-widget-title">Information</h5>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Customer Service</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Page 404</a></li>
                                <li><a href="#">Sizing Guide</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="widget f-widget pb-30 wow fadeInUp" data-wow-delay=".6s">
                            <h5 class="f-widget-title">Our Service</h5>
                            <ul>
                                <li><a href="#">Shipping Policy</a></li>
                                <li><a href="#">Help & Contact Us</a></li>
                                <li><a href="#">Returns & Refunds</a></li>
                                <li><a href="#">Online Stores</a></li>
                                <li><a href="#">Payment Method</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="widget f-widget pb-30  wow fadeInUp" data-wow-delay=".8s">
                            <h5 class="f-widget-title">Payment & Shipping</h5>
                            <ul>
                                <li><a href="#">Terms Of Use</a></li>
                                <li><a href="#">Payment Methods</a></li>
                                <li><a href="#">Shipping Guide</a></li>
                                <li><a href="#">Locations We Ship To</a></li>
                                <li><a href="#">Estimated Delivery Time</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="widget f-widget pb-30 wow fadeInUp" data-wow-delay="1s">
                            <h5 class="f-widget-title">LOOKING FOR StepUp?</h5>
                            <address>
                                <ul>
                                    <li>But you can also contact us:</li>
                                    <li>Call Us: S9 Heaven Stress, Beverly Hill, USA.</li>
                                    <li class="d-flex">Phone: <a href="tel:9744438174">9744438174</a></li>
                                    <li class="d-flex">Mail: <a href="mailto:stepup@gmail.com">stepup@gmail.com</a></li>
                                    
                                </ul>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- <div class="copyright-area">
                <div class="copyright-text text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xxl-12">
                                <p>Opening Time: Mon-Fri: <span>9:00 am – 9:00 pm.</span> <span>Sat: 9:00 am – 6:00 pm.</span> Sun:
                                    9:00 am – 6:00 pm.<br>
                                    Copyright © Puik Store all rights reserved. Powered by Theme_pure</p>
                                <img src="assets/img/icon/payments.png" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div> --}}
            <!-- /.copyright area end -->
            
        </footer>