<section>
    <section class="login-area pt-150 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="basic-login">
                        <h3 class="text-center mb-60">Change Password</h3>
                        <form action="/editpassword" method="post">
                        {{#if logErr}}
                        <p class="text-danger">Enter valid data</p>
                        {{/if}}
                            <label for="email-id">Old Password </label>
                           <input type="text" onkeyup="validatepassword()" name="oldPassword"  id="passworda"
                              placeholder="Old Password" />
                            <p class="text-danger" id="password-err"></p>

                            
                            <label for="email-id">New Password</label>
                            <input type="text" onkeyup="validatepassword()" name="newPassword" id="password"
                                placeholder="New Password" />
                            <p class="text-danger" id="password-err"></p>


                            <div class="mt-10"></div>
                            <input value="submit" type="submit" onclick="return pwcheck()" class="s-btn s-btn-4 w-100"
                               >
                               <p class="bg-danger" id="pwErr "></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
