  <!-- error area start -->
         <section class="error__area error__pt-300 error__pb-315">
            <div class="container">
                  <div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2">
                     <div class="error__content text-center">
                        <div class="error__number">
                              <h1>404</h1>
                        </div>
                        <span>That page can’t be found.</span>
                        
                        <p>Sorry for the inconvenience. Go to our homepage or check out our latest collections.</p>

                        <a href="javascript:history.back()" class="s-btn s-btn-2 s-btn-big">Back To Page</a>
                     </div>
                  </div>
            </div>
         </section>
         <!-- error area end -->