<div class="breadcrumb-area-3 pt-130 ">
    <div class="container">
        <div class="row">
            <div class="col-xxl-6 m-auto col-md-6 mb-5">
                <div class="breadcrumb-wrapper-2 text-center">
                    <div class="basic-login">
                    <form action="/Pw_submit" method="post" class="d-flex">
                        <input type="text" placeholder="Enter OTP" name="otp" id="">
                        <button type="submit" class="s-btn s-btn-4 w-50" style="height:60px;">Submit</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>